[submodule "pack/themes/start/tender.vim"]
	path = pack/themes/start/tender.vim
	url = https://github.com/jacoborus/tender.vim
[submodule "pack/tpope/start/commentary"]
	path = pack/tpope/start/commentary
	url = https://github.com/tpope/vim-commentary
[submodule "pack/tpope/start/surround"]
	path = pack/tpope/start/surround
	url = https://github.com/tpope/vim-surround
[submodule "pack/plugins/start/vim-go"]
	path = pack/plugins/start/vim-go
	url = https://github.com/fatih/vim-go
[submodule "pack/themes/start/vim-code-dark"]
	path = pack/themes/start/vim-code-dark
	url = https://github.com/tomasiser/vim-code-dark
