[submodule "pack/themes/start/tender.vim"]
	path = pack/themes/start/tender.vim
	url = https://github.com/jacoborus/tender.vim
[submodule "pack/tpope/start/commentary"]
	path = pack/tpope/start/commentary
	url = https://github.com/tpope/vim-commentary
[submodule "pack/tpope/start/surround"]
	path = pack/tpope/start/surround
	url = https://github.com/tpope/vim-surround
[submodule "pack/plugins/start/vim-go"]
	path = pack/plugins/start/vim-go
	url = https://github.com/fatih/vim-go
[submodule "pack/themes/start/vim-code-dark"]
	path = pack/themes/start/vim-code-dark
	url = https://github.com/tomasiser/vim-code-dark
[submodule "pack/git-plugins/start/ale"]
	path = pack/git-plugins/start/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "pack/plugins/start/deoplete.nvim"]
	path = pack/plugins/start/deoplete.nvim
	url = https://github.com/Shougo/deoplete.nvim.git
[submodule "pack/plugins/start/nvim-yarp"]
	path = pack/plugins/start/nvim-yarp
	url = https://github.com/roxma/nvim-yarp.git
[submodule "pack/plugins/start/vim-hug-neovim-rpc"]
	path = pack/plugins/start/vim-hug-neovim-rpc
	url = https://github.com/roxma/vim-hug-neovim-rpc.git
[submodule "pack/plugins/start/vim-polyglot"]
	path = pack/plugins/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
[submodule "pack/tpope/start/fugitive"]
	path = pack/tpope/start/fugitive
	url = https://github.com/tpope/vim-fugitive.git
